@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  * {
    @apply border-border;
  }

  body {
    font-family: var(--font-sans);
    @apply min-h-screen bg-background text-foreground antialiased;
  }

  ::selection {
    @apply bg-primary/30 text-primary;
  }
}
